@font-face {
    font-family: "trtlancelot";
    src: url("../FONTS/TRTLancelot.ttf") format('truetype');
}

@font-face {
    font-family: "anurati";
    src: url("../FONTS/Anurati-Regular.otf") format('opentype');
}

@font-face {
    font-family: "gurvaco";
    src: url("../FONTS/Gurvaco.otf") format('opentype');
}

@font-face {
    font-family: "kgperfectpenmanship";
    src: url("../FONTS/KGPerfectPenmanship.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black !important;
}

.main-page,
.about-me,
.skills,
.projects,
.contact-me,
.email {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background: black;
    display: flex;
    flex-direction: column;
}

.about-me,
.projects,
.contact-me,
.email {
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-page {
    height: 100vh;
}

.skills {
    background: repeating-linear-gradient(-45deg, #D4D40F 0 100px, black 100px 200px);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    color: #fff;
}

.navbar-nav {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.nav-link {
    color: #fff !important;
    background: black;
    text-transform: uppercase;
    font-family: "trtlancelot";
    font-weight: 1000;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 6px 0 !important;
    margin: 0 !important;
    position: relative;
    transition: width .5s ease;
    gap: 0;
    height: 100%;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: red;
    transition: width .25s ease;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.main-page-content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.main-page-content-left {
    width: 50%;
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    font-family: "anurati";
    font-size: 4.1rem;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    z-index: 1;
}

.developer {
    color: red;
}

.main-page-content-right {
    flex: 1;
    background: url("../IMAGES/akhil.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    animation: profile 1.5s forwards;
}

.nav-link:hover::after {
    width: 100%;
}

.about-me-top {
    color: red;
    font-size: 4rem;
    font-family: "gurvaco";
    text-transform: uppercase;
    width: 85%;
    text-align: left;
    height: auto;
    border-top: 6px solid #D4D40F;
    border-left: 6px solid #D4D40F;
    border-right: 6px solid #D4D40F;
    line-height: 1;
    padding: 0 20px;
    padding-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.about-me-bottom {
    color: #fff;
    font-size: large;
    font-family: "kgperfectpenmanship";
    width: 85%;
    height: auto;
    border-bottom: 6px solid #D4D40F;
    border-left: 6px solid #D4D40F;
    border-right: 6px solid #D4D40F;
    padding: 0 30px;
    padding-bottom: 20px;
    text-align: justify;
    line-height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cursor-typing {
    margin-left: 5px;
}

.skills-card {
    width: 80%;
    min-height: 60%;
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    border: 2px solid #D4D40F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.projects {
    height: auto;
    gap: 60px;
}

.skills-card-head,
.projects-head {
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    font-family: "gurvaco";
    font-size: 4rem;
    text-transform: uppercase;
}

.skills-card-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: auto;
    gap: 25px;
}

.card-skills {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.skills-image {
    width: 100%;
    height: auto;
}

.projects-name {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    width: 210px;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #fff;
}

.project-image {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.project-overlay {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: bottom 1s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-align: center;
    font-family: "kgperfectpenmanship";
    overflow: hidden;
}

.project-image:hover .project-overlay {
    bottom: 0;
}

.project-details {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "gurvaco";
    text-transform: uppercase;
    font-size: large;
    background: #fff;
}

.project-images {
    width: 70%;
    height: auto;
}

.projects-head {
    color: #D4D40F;
    padding-top: 20px;
}

.contact-me {
    height: 100vh;
}

.contact-me-top,
.contact-me-bottom {
    height: 40%;
    width: 80%;
    border: 6px solid #D4D40F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}

.contact-me-top-head,
.contact-me-bottom-head,
.email-head {
    width: 100%;
    font-family: "gurvaco";
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

.view-resume {
    width: 20%;
    height: 18%;
    background: #D4D40F;
    border: 0;
    border-radius: 5px;
    font-family: "gurvaco";
    font-size: large;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color .1s ease;
}

.view-resume:hover {
    background: transparent;
    border: 2px solid #D4D40F;
}

.contact-me-options {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-me-options a {
    color: #fff;
    font-size: 40px;
}

.email {
    height: 100vh;
    position: relative;
}

.email-card {
    width: 35%;
    height: 65%;
    background: #D4D40F;
    border-radius: 5px;
    overflow: hidden;
}

.form-submission-message {
    position: absolute;
    font-family: "kgperfectpenmanship";
    font-size: medium;
    color: #fff;
    border-radius: 3px;
    bottom: 0;
}

.email-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.email-form input,
textarea {
    width: 80%;
    height: 12%;
    border: 0;
    border-radius: 10px;
    padding-left: 10px;
    font-family: "kgperfectpenmanship";
    color: black;
}

.email-form textarea {
    height: 40%;
    padding-top: 10px;
}

.submit-email {
    font-family: "kgperfectpenmanship";
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: #fff;
    transition: all .1s ease;
}

.email p:empty {
    padding: 0;
}

.submit-email:hover {
    background-color: black;
    color: #fff;
}

@keyframes profile {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }
}