@media screen and (max-width: 576px) {
    .navbar-nav {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .nav-link {
        font-size: .8rem;
        transition: none;
        padding-left: 10px !important;
        border-radius: 5px;
    }

    .nav-link::after {
        display: none;
    }

    .nav-link:hover {
        background-color: rgb(70, 65, 65);
        border-radius: 5px;
    }

    .main-page-content {
        flex-direction: column-reverse;
        justify-content: center;
        padding-bottom: 20px;
    }

    .main-page-content-left {
        height: auto;
        width: 100%;
        padding-bottom: 0;
        justify-content: start;
    }

    .main-page-content-right {
        max-height: 45%;
        background-position: center;
        width: 100%;
    }

    .main-page-content-left .name {
        font-family: "gurvaco";
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 2rem;
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .main-page-content-left .name span,
    .main-page-content-left .role span {
        color: red;
        text-transform: uppercase;
    }

    .main-page-content-left .role {
        font-size: 1rem;
        width: 100%;
        text-align: center;
        word-spacing: 5px;
        padding-bottom: 20px;
    }

    .description {
        font-family: "trtlancelot";
        font-size: small;
        text-transform: capitalize;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
    }

    .about-me {
        height: auto;
        padding-bottom: 60px;
    }

    .about-me-top {
        font-size: 2rem;
        border-top: 3px solid #D4D40F;
        border-left: 3px solid #D4D40F;
        border-right: 3px solid #D4D40F;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        flex-wrap: wrap;
    }

    .about-me-bottom {
        font-size: 12px;
        border-bottom: 3px solid #D4D40F;
        border-left: 3px solid #D4D40F;
        border-right: 3px solid #D4D40F;
        flex-wrap: wrap;
        padding: 0 20px;
        padding-bottom: 20px;
    }

    .skills-card-head,
    .projects-head {
        font-size: 2rem;
        letter-spacing: 3px;
    }

    .skills-image {
        width: 80%;
        height: 80%;
    }

    .projects-name{
        flex-direction: column;
        align-items: center;
        font-size: 60%;
    }

    .project-card {
        width: 140px;
        height: 170px;
    }

    .contact-me-top,
    .contact-me-bottom {
        border: 2px solid #D4D40F;
    }

    .contact-me-top-head,
    .contact-me-bottom-head,
    .email-head {
        font-size: 2rem;
    }

    .view-resume {
        min-width: 150px;
        font-size: small;
    }

    .contact-me-options a {
        font-size: 30px;
    }

    .email-card {
        width: 80%;
    }

    .email-form input,
    textarea {
        height: 10%;
        width: 90%;
        font-size: small;
    }

    .submit-email {
        font-size: small;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .nav-link {
        padding-top: 0px;
        font-size: 1.2rem;
    }

    .main-page-content {
        flex-direction: column-reverse;
        justify-content: center;
        padding-bottom: 20px;
    }

    .main-page-content-left {
        height: auto;
        width: 100%;
        padding-bottom: 0;
        justify-content: start;
        padding-top: 20px;
    }

    .main-page-content-right {
        max-height: 50%;
        background-position: center;
        width: 100%;
    }

    .main-page-content-left .name {
        font-family: "gurvaco";
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 2.3rem;
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .main-page-content-left .name span,
    .main-page-content-left .role span {
        color: red;
        text-transform: uppercase;
    }

    .main-page-content-left .role {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        word-spacing: 5px;
        padding-bottom: 20px;
    }

    .description {
        font-family: "trtlancelot";
        font-size: medium;
        text-transform: capitalize;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
    }

    .about-me {
        height: auto;
        padding-bottom: 60px;
    }

    .about-me-top {
        font-size: 2.5rem;
        border-top: 3px solid #D4D40F;
        border-left: 3px solid #D4D40F;
        border-right: 3px solid #D4D40F;
        flex-wrap: wrap;
    }

    .about-me-bottom {
        font-size: 16px;
        border-bottom: 3px solid #D4D40F;
        border-left: 3px solid #D4D40F;
        border-right: 3px solid #D4D40F;
        flex-wrap: wrap;
        padding: 0 20px;
        padding-bottom: 20px;
        line-height: 30px;
    }

    .skills-card-head,
    .projects-head {
        font-size: 2.5rem;
        letter-spacing: 3px;
    }

    .skills-image {
        width: 80%;
        height: 80%;
    }

    .project-card {
        width: 170px;
        height: 200px;
    }

    .contact-me-top,
    .contact-me-bottom {
        border: 2px solid #D4D40F;
    }

    .contact-me-top-head,
    .contact-me-bottom-head,
    .email-head {
        font-size: 2.5rem;
    }

    .view-resume {
        min-width: 180px;
        max-height: 50px;
        font-size: medium;
    }

    .contact-me-options a {
        font-size: 30px;
    }

    .email-card {
        width: 50%;
    }

    .email-form input,
    textarea {
        height: 10%;
        width: 90%;
        font-size: small;
    }

    .submit-email {
        font-size: medium;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .main-page-content-left {
        height: 100%;
        width: 50%;
        padding-bottom: 0;
        justify-content: center;
        align-items: end;
        font-size: 3rem;
    }

    .main-page-content-right {
        max-height: 100%;
        background-position: bottom;
        width: 100%;
    }

    .about-me-top {
        font-size: 2.5rem;
        border-top: 4px solid #D4D40F;
        border-left: 4px solid #D4D40F;
        border-right: 4px solid #D4D40F;
        flex-wrap: wrap;
    }

    .about-me-bottom {
        font-size: 16px;
        border-bottom: 4px solid #D4D40F;
        border-left: 4px solid #D4D40F;
        border-right: 4px solid #D4D40F;
        flex-wrap: wrap;
    }

    .skills-card-skills {
        gap: 50px;
    }

    .skills-card-head,
    .projects-head {
        font-size: 2.5rem;
        letter-spacing: 3px;
    }

    .skills-image {
        width: 85%;
        height: 85%;
    }

    .project-card {
        width: 180px;
        height: 210px;
    }

    .contact-me-top,
    .contact-me-bottom {
        border: 3px solid #D4D40F;
    }

    .contact-me-top-head,
    .contact-me-bottom-head,
    .email-head {
        font-size: 2.5rem;
    }

    .view-resume {
        min-width: 180px;
        font-size: medium;
    }

    .contact-me-options a {
        font-size: 40px;
    }

    .email {
        padding-bottom: 30px;
    }

    .email-card {
        width: 60%;
        height: 80%;
    }

    .email-form input,
    textarea {
        height: 8%;
        width: 90%;
        font-size: small;
    }

    .submit-email {
        font-size: large;
        height: 60px;
        width: 40%;
    }
}

@media screen and (min-width:993px) and (max-width:1200px) {
    .nav-link {
        font-size: 1.5rem;
    }

    .main-page-content-left {
        height: 100%;
        width: 50%;
        padding-bottom: 0;
        justify-content: center;
        align-items: end;
        font-size: 4.5rem;
    }

    .main-page-content-right {
        height: 100%;
        background-position: bottom;
        width: 100%;
    }

    .about-me-top {
        font-size: 3.5rem;
        border-top: 5px solid #D4D40F;
        border-left: 5px solid #D4D40F;
        border-right: 5px solid #D4D40F;
        flex-wrap: wrap;
    }

    .about-me-bottom {
        font-size: 21px;
        border-bottom: 5px solid #D4D40F;
        border-left: 5px solid #D4D40F;
        border-right: 5px solid #D4D40F;
        flex-wrap: wrap;
        line-height: 32px;
    }

    .skills-card-head,
    .projects-head {
        font-size: 3.5rem;
        letter-spacing: 3px;
    }

    .skills-card-skills {
        gap: 70px;
    }

    .project-card {
        width: 220px;
        height: 270px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
    }

    .contact-me-top,
    .contact-me-bottom {
        border: 4px solid #D4D40F;
    }

    .contact-me-top-head,
    .contact-me-bottom-head,
    .email-head {
        font-size: 3rem;
    }

    .view-resume {
        min-width: 200px;
        height: 80px;
        font-size: large;
    }

    .contact-me-options a {
        font-size: 45px;
    }

    .email {
        padding-bottom: 30px;
    }

    .email-card {
        width: 50%;
        height: 80%;
    }

    .email-form input,
    textarea {
        height: 12%;
        width: 90%;
        font-size: medium;
    }

    .submit-email {
        width: 40%;
        height: 50px;
        font-size: large;
    }
}

@media screen and (min-width: 1201px) {
    .nav-link {
        font-size: 1.5rem;
    }

    .main-page-content-left {
        height: 100%;
        width: 50%;
        padding-bottom: 0;
        justify-content: center;
        align-items: end;
        font-size: 4.8rem;
    }

    .main-page-content-right {
        height: 100%;
        background-position: bottom;
        width: 100%;
    }

    .about-me {
        gap: 80px;
        padding: 100px 0;
    }

    .about-me-top {
        font-size: 3.1rem;
        flex-wrap: wrap;
        padding-top: 40px;
    }

    .about-me-bottom {
        font-size: 20px;
        flex-wrap: wrap;
        line-height: 35px;
    }

    .skills-card-head,
    .projects-head {
        font-size: 3.1rem;
        letter-spacing: 3px;
    }

    .skills-card-skills {
        gap: 70px;
    }

    .project-card {
        width: 250px;
        height: 300px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
    }

    .project-details {
        font-size: 20px;
    }

    .contact-me-top,
    .contact-me-bottom {
        border: 6px solid #D4D40F;
    }

    .contact-me-top-head,
    .contact-me-bottom-head,
    .email-head {
        font-size: 2.5rem;
    }

    .view-resume {
        min-width: 200px;
        font-size: 25px;
        min-height: 50px;
        font-size: 20px;
    }

    .contact-me-options a {
        font-size: 45px;
    }

    .email {
        padding-bottom: 70px;
    }

    .email-card {
        width: 50%;
        height: 80%;
    }

    .email-form input,
    textarea {
        height: 12%;
        width: 90%;
        font-size: medium;
    }

    .submit-email {
        width: 40%;
        height: 50px;
        font-size: 25px;
        font-size: medium;
    }
}